.card-container {
	max-width: 700px;
	overflow: hidden;
	box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.94);
	border-radius: 10px;
	margin: 20px;
	border-color: #000;
	/* padding: 10px; */
	align-items: center;
	justify-content: center;
}
