.card-container {
	overflow: hidden;
	box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.94);
	border-radius: 10px;
	border-color: #000;
	/* padding: 10px; */
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 20px;
}
.image-container {
	max-width: 500px;
	overflow: hidden;
}
.description-container {
	max-width: 400px;
	overflow: hidden;
	margin: 20px;
}
